<div ng-show="jobs.length">
    <h1>Here are the jobs:</h1>
    <ul>
        <li ng-repeat="item in jobs">
            <a href="#">{{ item.title }}</a>
            <p>{{ item.description }}</p>
            <p>{{ item.skills }}</p>
            <p>{{ item.price | currency }}</p>
        </li>
    </ul>
</div>

<div class="col-md-4">
    <h3>Add a new job</h3>
    <form ng-submit="JobsFactory.addJob()" class="form-inline" role="form">
        <div class="form-group">
            <input type="text" ng-model="JobsFactory.jobTitle" class="form-control" placeholder="Enter job title">
        </div>
        <div class="form-group">
            <textarea rows="3" ng-model="JobsFactory.jobDescription" class="form-control" placeholder="Enter job description"></textarea>
        </div>
        <div class="form-group">
            <input type="text" ng-model="JobsFactory.jobSkills" class="form-control" placeholder="Enter job skill needed">
        </div>
        <div class="form-group">
            <input type="number" ng-model="JobsFactory.jobPrice" class="form-control" placeholder="Enter job price">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

</div>
